# Sequence data and large derived files (raw reads are on SRA: PRJNA1517867)
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.bai
*.cram
*.mmi
*.vcf.gz
*.vcf.gz.tbi
*.hdf
*.k2d
*.kraken
*.kraken2
*.kmer_distrib
VectorBase-*_Genome.fasta
PlasmoDB-*_Genome.fasta
*.fai
plasmodium_combined.fasta

# Data / output directories created by the pipeline
gam_final/
colu_final/
arabiensis/
fun_final/
coustani_combined/
steph_combined/
infectivity/
aligned/
aligned_plasmodium/
coverage_results/
kraken_results/
figures/
logs/
bams/
vcf/
subsampled_fastq/
kraken_out/

__pycache__/
*.pyc
.DS_Store
